!!! 5
html
  head
    title Carnage - Quake 2D browser game
    link(href="css/application.css", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="javascripts/jquery/jquery.min.js")
    script(type="text/javascript", src="javascripts/stats.js")

    //- Game stuff
    script(type="text/javascript", src="javascripts/game/eventemitter.js")
    script(type="text/javascript", src="javascripts/game/inputhandler.js")
    script(type="text/javascript", src="javascripts/game/game.js")
    script(type="text/javascript", src="javascripts/game/level.js")
    script(type="text/javascript", src="javascripts/game/screen.js")

    //- Tiles
    script(type="text/javascript", src="javascripts/game/tile.js")
    script(type="text/javascript", src="javascripts/game/tiles/wall.js")
    script(type="text/javascript", src="javascripts/game/tiles/floor.js")
    script(type="text/javascript", src="javascripts/game/tiles/spawn.js")

    //- Entities
    script(type="text/javascript", src="javascripts/game/entity.js")
    script(type="text/javascript", src="javascripts/game/mob.js")
    script(type="text/javascript", src="javascripts/game/player.js")

    script(type="text/javascript", src="javascripts/application.js")
  body
    #canvas-wrapper
      canvas#game